<div class="result-tab">
    
    <div class="main-category-block" *ngIf="automatizationResult.category">
      <div class="main-category-heading">Main category:</div>
      <div class="main-category-heading main-category-heading-category">{{automatizationResult.category}}</div>
    </div>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-title">
            Analysis results
          </mat-panel-title>
          <mat-panel-description class="expansion-panel-description">
            Collected content based on file
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="relevancy-settings" *ngIf="automatizationResult.category">
          <div class="main-category-heading">Choose relevancy threshold:</div>
          <mat-slider #scoreThreshold class="slider-relevancy"
              thumbLabel
              [displayWith]="formatScoreLabel"
              tickInterval="1000"
              step="0.01"
              [min]="getMinScore(automatizationResult.analyzed_text)"
              [max]="getMaxScore(automatizationResult.analyzed_text)"
              (slideend)="scoreOnSlideChange(scoreThreshold.value, automatizationResult)"
              (pointerup)="scoreOnSlideChange(scoreThreshold.value, automatizationResult)"
              aria-label="units">
          </mat-slider>
        </div>
        <div [innerHTML]="automatizationResult.analyzed_text | sanitizeHtml" class="analyzed-text"></div>
        

      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false" 
                          *ngIf="automatizationResult.categories_with_scores">
          <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-title">
            Identified categories
          </mat-panel-title>
          <mat-panel-description class="expansion-panel-description">
            Abstractly describes content, mainly from sense analysis
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-table-categories-visualization [categoryRating]="automatizationResult.categories_with_scores">
        </app-table-categories-visualization>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false"
                          *ngIf="automatizationResult.concepts_with_scores">
          <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-title" >
            Identified clusters
          </mat-panel-title>
          <mat-panel-description class="expansion-panel-description">
            Shows main representant of clusters with identified members
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-table-clusters-visualization 
          [categoryRating]="automatizationResult.concepts_with_scores" 
          [mappings]="automatizationResult.mappings">
        </app-table-clusters-visualization>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false" *ngIf="automatizationResult.co_occurrence_aggregations">
          <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-title">
            Co-occurrence aggregations
          </mat-panel-title>
          <mat-panel-description class="expansion-panel-description">
            Connections between meanings and concepts
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let aggregationStructure of automatizationResult.co_occurrence_aggregations">
          <app-aggregation-visualization [aggregationName]="aggregationStructure.name" [aggregationRepresentants]="aggregationStructure.data">
          </app-aggregation-visualization>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false" *ngIf="automatizationResult.readability_indexes">
          <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-title">
            Readability metrics
          </mat-panel-title>
          <mat-panel-description class="expansion-panel-description">
            Information about text complexity
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-readability-visualization [readabilityIndexes]="automatizationResult.readability_indexes"></app-readability-visualization>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
