.fileContentField {
  width: 100%;
  min-height: 8rem;
}

.recordContentField {
  border: 2px solid silver;
  min-height: 8rem;
}

.recordContentField:hover {
  border: 2px solid grey;
}

.addContentToRecords {
  display: flex;
  float: right;
  align-items: center;
  align-content: center;
  border-radius: 25px;
  height: 2.5rem;
}

.addTextToRecordText {
  display: block;
  text-align: right;
  word-wrap: break-word;
  margin-left: 16px;
}

.sub-heading {
  display: block;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
}

.isHtmlField {
  display: block;
  margin-top: 8px;
  margin-bottom: 16px;
}

.dividerBlock {
  display: none;
}

.loadedFileBlock + .dividerBlock {
  display: block;
  margin-bottom: 32px;
  margin-top: 16px;
  border-width: 8px;
}

.updateExtractedInformationButton {
  display: block;
  width: 100%;
}

.updateExtractedInformationSpan {
  display: inline-block;
  margin-left: 32px;
  margin-top: 16px;
}

.loadedFilesWrapper {
  margin-left: 40px;
  margin-bottom: 40px;
}

.main-heading {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.addFileWrapper {
  border: 3px dashed silver;
  padding: 40px;
  padding-bottom: 56px;
}
