<div class="wholesenseAnalysisPanel">
  <mat-card class="senseAnalysisCard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="senseAnalysisTitle">Sense analysis</mat-card-title>
      <mat-card-subtitle class="senseAnalysisSubtitle">probable meaning of this text</mat-card-subtitle>
      <img class="senseAnalysisExample" src="/assets/images/senseAnalysisImage.svg" alt="sense analysis example" />
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="senseFormGroup" (ngSubmit)="onSubmit($event)">
          <div class="fullTextPanel" appearance="fill">
            <textarea class="inputTextSenseAnalysis" matInput
              formControlName="textAreaFormControl"
              placeholder="Ex. This text is good to process for many reasons"></textarea>
          </div>
          <div class="senseAnalyzerConfigurablePart">
            <div class="senseAnalyzerHint">
              <span class="hintText">Hint</span><br/>
              <ul class="hintTextContent">
                <li>Text should be written in english.</li>
                <li>Use low windows values for short text and hight for longer text.</li>
                <li>For longer texts, result should be more accurate.</li>
              </ul>
            </div>
            <div class="senseAnalyzerWindows">
              <div class="senseAnalyzerWindowSliderText">Number words which should be analyzed:</div>
              <mat-slider class="senseAnalysisSlider"
                  formControlName="windowFormControl"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="100"
                  step="1"
                  min="3"
                  max="100"
                  aria-label="units">
              </mat-slider>
            </div>
          </div>
          
          <button mat-button class="submitButtonSenseAnalysis" type="submit">Analyze text!</button>
        </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="senseAnalysisResult" *ngIf="(getAnalyzedCategories() | async) as analyzedCategories">
    <table matSort (matSortChange)="sortData($event, analyzedCategories.results)">
      <tr>
        <th mat-sort-header="category">Category</th>
        <th mat-sort-header="value">Rating</th>
      </tr>
    
      <tr *ngFor="let result of (sortedData === undefined)? analyzedCategories.results: sortedData">
        <td>{{result.category}}</td>
        <td>{{result.value}}</td>
      </tr>
    </table>
  </mat-card>
</div>
