.fullTextPanel {
    width: 100%;
    height: 7rem;
}

.senseAnalysisCard {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 2rem;
    border: 3px solid #dedede;
}

.senseAnalysisTitle {
    font-weight: bold;
    font-size: 3rem;
}

.senseAnalysisSubtitle {
    text-align: right;
}

.senseAnalyzerWindowSliderText {
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.senseAnalysisExample {
    height: 120px;
    float: right;
    margin-left: 2rem;
}

.inputTextSenseAnalysis {
    height: 5rem;
	width: 100%;
	margin-top: 0.5rem;
}

.senseAnalyzerConfigurablePart {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.hintText {
    font-weight: bold
}

.hintTextContent {
    margin-right: 2rem;
}

.submitButtonSenseAnalysis {
    float: right;
    margin-right: 2.5rem;
    height: 2.5rem;
    border: 2px solid #3cb043;
    font-weight: bold;
}

.senseAnalysisSlider {
    width: 100%;
}

.senseAnalysisResult {
    margin: 2rem;
    border: 3px solid #dedede;
}

.wholesenseAnalysisPanel {
    display: flex;
    flex-direction: row;
}
