
    <div class="box" appDragAndDrop (fileDropped)="onFileDropped($event)" id="dropBlock">
        <div class="box_input"> 
            <svg class="box_icon" xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43"><path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path></svg>
            <input class="box_file"
                type="file"
                id="file"
                name="file[]"
                multiple="multiple"
                (change)="handleFileInput($event.target.files)"/>
            <label for="file"><strong>Choose a file</strong><span class="box_dragndrop"> or drag it here</span>.</label>
            <button class="box_button" type="submit">Upload</button>
        </div>
        <div class="box_uploading">Uploading…</div>
        <div class="box_success">Done!</div>
        <div class="box_error">Error! <span></span>.</div>
    </div>
<div class="file-list">
    <div class="file-record" *ngFor="let sFile of uploadedFiles; let i = index">
        <img src="/assets/icons/file.svg" width="45px" alt="file decoration image">
        <div class="file-information">
            <h3 class="file-name">
                {{ sFile?.name}}
            </h3>
            <p class="file-size">
                {{ formatBytes(sFile?.size) }}
            </p>
            <img src="/assets/icons/trash.svg"class="delete" width="20px" alt="file" (click)="deleteFile(i)">
            <app-progress [progress]="sFile?.progress"></app-progress>
        </div>
    </div>
</div>
