<div class="whole-tab-group">
  <mat-vertical-stepper [linear]="isLinear" #stepper class="insert-file-tab">
    <mat-step [stepControl]="fileFormGroup">
        <form [formGroup]="fileFormGroup" method="post" action="" enctype="multipart/form-data" class="form-group">
          <ng-template matStepLabel><p class="step-part-title">Insert files for analysis</p></ng-template>
          <app-file-upload>
          </app-file-upload>
        </form>
        <app-file-or-input [files]="getUploadedFiles()"></app-file-or-input>
    </mat-step>
    
    <mat-step [stepControl]="senseFormGroup">
      <form [formGroup]="senseFormGroup">
        <ng-template matStepLabel><p class="step-part-title">Choose segmentation method</p></ng-template>

        <app-segmentation-analysis [files]="getUploadedFiles()"></app-segmentation-analysis>
      </form>
    </mat-step>

    <mat-step [stepControl]="senseFormGroup">
      <form [formGroup]="senseFormGroup">
        <ng-template matStepLabel><p class="step-part-title">Configure semantic methods</p></ng-template>

        <div class="relevancy-settings">
          <div class="main-category-heading">Choose relevancy threshold:</div>
          <mat-slider #scoreThreshold class="slider-relevancy"
              thumbLabel
              [displayWith]="formatScoreLabel"
              tickInterval="1000"
              step="0.01"
              aria-label="units">
          </mat-slider>
        </div>

        <div class="example-full-width" appearance="fill">
          <mat-label>Text for analysis</mat-label>
          <textarea matInput name="textForAnalysis" placeholder="Ex. It makes me feel..."></textarea>
        </div>

        <button (click)="startSenseAnalysis('This text is good to process for many reasons!!!', 3)">Send request</button>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><p class="step-part-title">Start analysis</p></ng-template>
      <app-spinner *ngIf="spinnerVisibility"></app-spinner>
      <div class="management-buttons">
        <button mat-button matStepperPrevious class="back-button" [routerLink]="'/'" >Back</button>
        <button mat-button (click)="stepper.reset()" class="reset-button">Reset</button>
      </div>
      <div class="step-buttons">
        <button mat-button (click)="applyAutomatization()" class="analyze-button">Analyze</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
