<div class="whole-tab-group">
  <mat-vertical-stepper [linear]="isLinear" #stepper class="insert-file-tab">
    <mat-step [stepControl]="fileFormGroup">
        <form [formGroup]="fileFormGroup" method="post" action="" enctype="multipart/form-data" class="form-group">
          <ng-template matStepLabel><p class="step-part-title">Insert files for analysis</p></ng-template>
          <app-file-upload>
          </app-file-upload>
        </form>
        <app-file-or-input [files]="getUploadedFiles()"></app-file-or-input>
    </mat-step>
    
    <mat-step [stepControl]="senseFormGroup">
      <form [formGroup]="senseFormGroup">
        <ng-template matStepLabel><p class="step-part-title">Choose segmentation method</p></ng-template>

        <app-segmentation-analysis [files]="getUploadedFiles()"></app-segmentation-analysis>
      </form>
    </mat-step>

    <mat-step [stepControl]="senseFormGroup">
      <form [formGroup]="senseBasedMethodFromGroup">
        <ng-template matStepLabel><p class="step-part-title">Configure semantic methods</p></ng-template>

        <div class="relevancy-settings">
          <div class="main-category-heading">Number words which should be analyzed:</div>
          <mat-slider #scoreThreshold class="slider-relevancy"
              formControlName="numberAnalyzedWords"
              thumbLabel
              [displayWith]="formatScoreLabel"
              tickInterval="200"
              step="1"
              aria-label="units">
          </mat-slider>
        </div>

        <div class="example-full-width" appearance="fill">
          <mat-radio-group aria-label="Select an option" formControlName="chosenFile">
            <mat-radio-button value="-1" id="somRadioNone" (change)="updateApply($event, null)" checked="true">
              Not apply sense analysis</mat-radio-button>
            <div *ngFor="let loadedFile of getUploadedFiles(); let index = index">
              <form (ngSubmit)="updateRecord($event, loadedFile)">
                  <div class="main-settings-som-content">
                      <mat-radio-button value="{{index}}" id="somRadio{{index}}" (change)="updateApply($event, loadedFile)">
                        Apply sense analysis</mat-radio-button>
                      <span class="spacer spaces">     </span>
                      <span>{{ loadedFile.name }}</span>
                  </div>
              </form>
            </div>
          </mat-radio-group>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><p class="step-part-title">Start analysis</p></ng-template>
      <app-spinner *ngIf="spinnerVisibility"></app-spinner>
      <div class="management-buttons">
        <button mat-button matStepperPrevious class="back-button" [routerLink]="'/'" >Back</button>
        <button mat-button (click)="stepper.reset()" class="reset-button">Reset</button>
      </div>
      <div class="step-buttons">
        <button mat-button (click)="applyConfigurationAndStartAnalysis()" class="analyze-button">Analyze</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<app-semantic-aspect-overview [automatizationResult]="automatizationResultSenseAnalysis" *ngIf="automatizationResultSenseAnalysis"></app-semantic-aspect-overview>
