<mat-radio-group>
    <mat-accordion [multi]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-radio-button class="segmentatin-method-radio-button" [value]="'season'">
                        CETD Analysis
                    </mat-radio-button>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-select-files-for-given-operation [files]="files" [segmentation]="true" segmentationMethodName="CETD"></app-select-files-for-given-operation>
            <div class="chooseMethod">
                <h1>Choose methods which should be used!</h1>
                <form [formGroup]="cetdFormGroup" (ngSubmit)="useCETDSegmentation()">
                    <div class="cetd-options-block">
                        <mat-checkbox formControlName="cetdNormalMethod" name="CETDNormal" class="checkboxField" checked="true">Normal extractor</mat-checkbox>
                        <mat-checkbox formControlName="cetdEdgareMethod" name="CETDEdgare" class="checkboxField" checked="true">Edgare extractor</mat-checkbox>
                        <mat-checkbox formControlName="cetdVariantMethod" name="CETDVariant" class="checkboxField" checked="true">Variant extractor</mat-checkbox>
                    </div>
                    <button class="add-content-to-records" color="accent" aria-label="submit text" type="submit">
                        <mat-icon class="add-text-to-record">add_circle_outline</mat-icon>
                        <span class="add-text-to-record-text">Apply cetd segmentation on files</span>
                    </button>
                </form>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-radio-button class="segmentatin-method-radio-button" [value]="'seas2on'">
                        SOM tree
                    </mat-radio-button>
                </mat-panel-title>
                <mat-panel-description>
                        
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <app-som-extractor [somTemplateFile]="somTemplateFileReference"></app-som-extractor>
            <app-select-files-for-som [files]="files" [segmentation]="true" segmentationMethodName="SOM"></app-select-files-for-som>
            <div class="apply-som-button-part">
                <button class="add-content-to-records" color="accent" aria-label="submit text" 
                type="button" (click)="useSOMSegmentation()">
                    <mat-icon class="add-text-to-record">add_circle_outline</mat-icon>
                    <span class="add-text-to-record-text">Apply SOM segmentation on files</span>
                </button>
            </div>
            <form [formGroup]="analyzeTemplateFormGroup" (ngSubmit)="analyzeTemplate()">
                <div class="analyze-som-template">
                    <label for="percentageSlider">Percentage to accept:</label>
                    <mat-slider #percentageSlider class="percentage-slider"
                        thumbLabel
                        matInput
                        formControlName="sliderPercentageFormControl"
                        [displayWith]="formatPercentageLabel"
                        tickInterval="0.01"
                        step="0.01"
                        min="0"
                        max="1"
                        aria-label="units">
                    </mat-slider>
                    <div class="to-right-button">
                        <button class="add-content-to-records" color="accent" aria-label="submit text" 
                            type="submit">
                            <mat-icon class="add-text-to-record">add_circle_outline</mat-icon>
                            <span class="add-text-to-record-text">Apply SOM template analysis</span>
                        </button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-radio-button class="segmentatin-method-radio-button" [value]="'seas3on'">
                        All text
                    </mat-radio-button>
                </mat-panel-title>
                <mat-panel-description>
                        
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-select-files-for-given-operation [files]="files" [segmentation]="true" segmentationMethodName="all_text"></app-select-files-for-given-operation>
            <button class="add-content-to-records" color="accent" aria-label="submit text" type="button" (click)="useTextSegmentation()">
                <mat-icon class="add-text-to-record">add_circle_outline</mat-icon>
                <span class="add-text-to-record-text">Get text from documents</span>
            </button>
        </mat-expansion-panel>
    </mat-accordion>
</mat-radio-group>
