<mat-radio-group>
    <mat-accordion [multi]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-radio-button class="segmentatin-method-radio-button" [value]="'season'">
                        CETD Analysis
                    </mat-radio-button>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-select-files-for-given-operation [files]="files" [segmentation]="true" segmentationMethodName="CETD"></app-select-files-for-given-operation>
            <div class="chooseMethod">
                <h1>Choose methods which should be used!</h1>
                <form [formGroup]="cetdFormGroup" (ngSubmit)="useCETDSegmentation()">
                    <div class="cetd-options-block">
                        <mat-checkbox formControlName="cetdNormalMethod" name="CETDNormal" class="checkboxField" checked="true">Normal extractor</mat-checkbox>
                        <mat-checkbox formControlName="cetdEdgareMethod" name="CETDEdgare" class="checkboxField" checked="true">Edgare extractor</mat-checkbox>
                        <mat-checkbox formControlName="cetdVariantMethod" name="CETDVariant" class="checkboxField" checked="true">Variant extractor</mat-checkbox>
                    </div>
                    <button class="addContentToRecords" color="accent" aria-label="submit text" type="submit">
                        <mat-icon class="addTextToRecord">add_circle_outline</mat-icon>
                        <span class="addTextToRecordText">Apply cetd segmentation on files</span>
                    </button>
                </form>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-radio-button class="segmentatin-method-radio-button" [value]="'seas2on'">
                        SOM tree
                    </mat-radio-button>
                </mat-panel-title>
                <mat-panel-description>
                        
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-som-extractor></app-som-extractor>
            <app-select-files-for-som [files]="files" [segmentation]="true" segmentationMethodName="SOM_tree"></app-select-files-for-som>
            <button class="addContentToRecords" color="accent" aria-label="submit text" type="submit">
                <mat-icon class="addTextToRecord">add_circle_outline</mat-icon>
                <span class="addTextToRecordText">Apply cetd segmentation on files</span>
            </button>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-radio-button class="segmentatin-method-radio-button" [value]="'seas3on'">
                        All text
                    </mat-radio-button>
                </mat-panel-title>
                <mat-panel-description>
                        
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-select-files-for-given-operation [files]="files" [segmentation]="true" segmentationMethodName="all_text"></app-select-files-for-given-operation>
            <button class="addContentToRecords" color="accent" aria-label="submit text"
            type="button" (click)="useTextSegmentation()">
                <mat-icon class="addTextToRecord">add_circle_outline</mat-icon>
                <span class="addTextToRecordText">Apply cetd segmentation on files</span>
            </button>
        </mat-expansion-panel>
    </mat-accordion>
</mat-radio-group>
