

.loaded-files-wrapper {
  margin-left: 40px;
  margin-bottom: 40px;

  @media(max-width: 450px) {
    .main-heading {
      font-size: 1.2rem;
    }
  }

  @media(min-width: 450px) {
    .main-heading {
      font-size: 3rem;
    }
  }

  .main-heading {
    font-weight: bold;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .is-html-field {
    display: block;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .divider-block {
    display: none;
  }

  .loaded-file-block + .divider-block {
    display: block;
    margin-bottom: 32px;
    margin-top: 16px;
    border-width: 8px;
  }

  .update-extracted-information-span {
    display: inline-block;
    margin-left: 32px;
    margin-top: 16px;

    .update-extracted-information-button {
      display: block;
      width: 100%;
    }
  }

  .file-content-field {
    width: 100%;
    min-height: 8rem;

    .record-content-field {
      border: 2px solid silver;
      min-height: 8rem;
    }

    .record-content-field:hover {
      border: 2px solid grey;
    }

    .sub-heading {
      display: block;
      font-weight: bold;
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }
}

@media(min-width: 450px){
  .add-file-wrapper {
    padding-bottom: 56px !important;
  }
}

@media(max-width: 450px){
  .add-file-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-bottom: 0;
    flex-direction: column;
  }
}

.add-file-wrapper {
  border: 3px dashed silver;
  padding: 40px;

  .file-content-field {
    width: 100%;
    min-height: 8rem;

    .record-content-field {
      border: 2px solid silver;
      min-height: 8rem;
    }

    .record-content-field:hover {
      border: 2px solid grey;
    }

    .sub-heading {
      display: block;
      font-weight: bold;
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }

  @media(max-width: 450px) {
    .main-heading {
      font-size: 20px;
    }
  }

  @media(max-width: 750px) and (min-width: 450px){
    .main-heading {
      font-size: 32px;
    }
  }

  @media(min-width: 750px) {
    .main-heading {
      font-size: 48px;
    }
  }

  .main-heading {
    font-weight: bold;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .is-html-field {
    display: block;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  @media(max-width: 450px){
    .add-text-to-record-button-block {
      display: flex;
      justify-content: center;
    }
  }

  @media(min-width: 450px){
    .add-text-to-record-button-block {
      display: block;
    }
  }

  .add-text-to-record-button-block {
    @media(min-width: 450px){
      .add-content-to-records {
        float: right;
        height: 2.5rem;
      }
    }

    @media(max-width: 450px){
      .add-content-to-records {
        height: 3rem;
      }
    }

    .add-content-to-records {
      display: flex;
      align-items: center;
      align-content: center;
      border-radius: 25px;
    }

    .add-text-to-record-text {
      display: block;
      text-align: right;
      word-wrap: break-word;
      margin-left: 16px;
    }
  }
}

@media(max-width: 450px){
    ::ng-deep .mat-form-field {
      width: 100% !important;
    }
  }
