<div class="fileOrInputBlock">
  <div class="loadedFilesWrapper">
    <h1 class="main-heading" *ngIf="files.length != 0">Loaded or inserted files</h1>
    <ng-container *ngFor="let loadedFile of files; let index = index" class="wholeLoadedFilesBlock">
      <mat-divider class="dividerBlock">{{index}}</mat-divider>
      <div class="loadedFileBlock">
        <form  (ngSubmit)="updateRecord($event, index, loadedFile)">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Record name</mat-label>
            <input  matInput  name="recordName{{index}}" placeholder="Ex. ecommerce.txt" value="{{loadedFile.name}}"/>
          </mat-form-field>
        
          <span>{{loadedFile.size}}</span>

          <button mat-icon-button color="primary" aria-label="submit text" type="button" (click)="processShowingFile(loadedFile);" >
            <mat-icon>visibility</mat-icon>
          </button>

          <div class="fileContentField" appearance="outline">
            <mat-label class="sub-heading">Record content</mat-label>
            <textarea class="recordContentField" matInput name="recordContent{{index}}" placeholder="Ex. <html><head></head><body>" *ngIf="loadedFile.showed">{{ loadedFile.textResult }}</textarea>
          </div>

          <mat-checkbox name="updateIsHtml{{index}}" class="isHtmlField">Is HTML</mat-checkbox>

          <span class="updateExtractedInformationSpan">
            <button class="updateExtractedInformationButton" mat-icon-button color="primary" aria-label="submit text" type="submit">
              <mat-icon>update</mat-icon>
              Update extracted information
            </button>
          </span>
        </form>
      </div>  
    </ng-container>
  </div>
  <div class="addFileWrapper">
    <h1 class="main-heading">Insert file content</h1>
    <form [formGroup]="addFileFormGroup" class="example-form" (ngSubmit)="addRecordToRecords($event)">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label >Record name</mat-label>
          <input name="setRecordName" formControlName="recordNameFormControl" matInput placeholder="Ex. ecommerce.txt" value="Sushi">
        </mat-form-field>
      
        <div class="example-full-width" appearance="outline">
          <mat-label class="sub-heading">Record content</mat-label>
          <textarea class="recordContentField" name="setRecordContent" formControlName="recordFormControl" matInput placeholder="Ex. <html><head></head><body>"></textarea>
          </div>

        <mat-checkbox formControlName="isHtmlFormControl" class="isHtmlField">Is HTML</mat-checkbox>
        
        <div class="addTextToRecordButtonBlock">
          <button class="addContentToRecords" color="accent" aria-label="submit text" type="submit">
            <mat-icon class="addTextToRecord">add_circle_outline</mat-icon>
            <span class="addTextToRecordText">Add content to loaded contents</span>
          </button>
        </div>
    </form>
  </div>
</div>
