.menu-spacer {
    flex: 1 1 auto;
  }

.mat-drawer-container {
    position: static;
}

.menu-component-item {
    width: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

span.header {
    margin-left: 20px;
}

.mat-drawer{
    width: 350px;   
}

@media(min-width: 900px) {  
    .menu-buttons {
        display: block;
    }

    .burger-menu-part {
        display: none;
    }
}

@media(max-width: 900px){
    .menu-buttons {
        display: none;
    }

    .burger-menu-part {
        display: block;
    }
}
