<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="header">Semantic aspects</span>

        <span class="menu-spacer"></span>
        <div class="menu-buttons">
            <button class="menu-component-item" color="accent" mat-icon-button id="register" 
                [routerLink]="'/register'" *ngIf="useOcta && !isLogged()">
                <mat-icon>account_circle</mat-icon>
                <span>Register</span>
            </button>
            <button class="menu-component-item" color="accent" mat-icon-button id="login" 
                [routerLink]="'/login'" *ngIf="useOcta && !isLogged()">
                <mat-icon>account_circle</mat-icon>
                <span>Login</span>
            </button>
            <button class="menu-component-item" color="accent" mat-icon-button id="logout"
                (click)="logout()" *ngIf="useOcta && isLogged()">
                <mat-icon>account_circle</mat-icon>
                <span>Logout</span>
            </button>
            <button class="menu-component-item" color="accent" mat-icon-button id="automatization"
                [routerLink]="'/automatization'">
                <mat-icon>account_circle</mat-icon>
                <span>Automatization</span>
            </button>
            <button class="menu-component-item" color="accent" mat-icon-button id="sense" [routerLink]="'/analyser/senseAnalysis'">
                <mat-icon>edit</mat-icon>
                <span>Sense analysis</span>
            </button>
            <button class="menu-component-item" color="accent" mat-icon-button id="approval" *ngIf="hasAccessRights('authority')"
                [routerLink]="'/analyser/category'">
                <mat-icon>upload-file</mat-icon>
                <span>Text analyser</span>
            </button>
        </div>
        <span class="menu-spacer burger-menu-part"></span>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm class="burger-menu-part">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a (click)="sidenav.toggle()"
            [routerLink]="'/register'" *ngIf="useOcta && !isLogged()" mat-list-item><mat-icon>account_circle</mat-icon>
            <span>Register</span></a>
            <a (click)="sidenav.toggle()"
            [routerLink]="'/login'" *ngIf="useOcta && !isLogged()" mat-list-item><mat-icon>account_circle</mat-icon>
            <span>Login</span></a>
            <a (click)="sidenav.toggle(); logout()" *ngIf="useOcta && isLogged()" mat-list-item><mat-icon>account_circle</mat-icon>
            <span>Logout</span></a>
            <a (click)="sidenav.toggle()"
            [routerLink]="'/automatization'" mat-list-item><mat-icon>account_circle</mat-icon>
            <span>Automatization</span></a>
            <a (click)="sidenav.toggle();" mat-list-item [routerLink]="'/analyser/senseAnalysis'"><mat-icon>edit</mat-icon>
                <span>Sense analysis</span></a>
            <a (click)="sidenav.toggle()"
            [routerLink]="'/analyser/category'" *ngIf="hasAccessRights('guest')" mat-list-item><mat-icon>upload-file</mat-icon>
            <span>Text analyser</span></a>
 
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
