.main-category-block {
  display: block;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;

  .main-category-heading {
    font-weight: bold;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .main-category-heading-category {
    font-style: italic;
  }

  .main-category-heading ~ .main-category-heading {
    margin-left: 48px;
  }
}
