
<mat-tab-group class="whole-tab-group">
  <mat-tab label="Files insertion"> 
    <mat-vertical-stepper [linear]="isLinear" class="insert-file-tab" #stepper>
      <mat-step [stepControl]="fileFormGroup">
          <form [formGroup]="fileFormGroup" method="post" action="" enctype="multipart/form-data" class="form-group">
            <ng-template matStepLabel><p class="step-part-title">Insert files for analysis</p></ng-template>
            <app-file-upload>
            </app-file-upload>
          </form>
          <app-file-or-input [files]="getUploadedFiles()"></app-file-or-input>
      </mat-step>
      
      <mat-step>
        <ng-template matStepLabel><p class="step-part-title">Start analysis</p></ng-template>
        <app-spinner *ngIf="spinnerVisibility"></app-spinner>
        <div class="management-buttons">
          <button mat-button matStepperPrevious class="back-button" [routerLink]="'/'" >Back</button>
          <button mat-button (click)="stepper.reset()" class="reset-button">Reset</button>
        </div>
        <div class="step-buttons">
          <button mat-button (click)="applyAutomatization()" class="analyze-button">Analyze</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-tab>
  <mat-tab label="{{automatizationResult.fileName}}" *ngFor="let automatizationResult of getAutomatizationResults(); let automatizedResultIndex = index">
    <app-semantic-aspect-overview [automatizationResult]="automatizationResult"></app-semantic-aspect-overview>
    <div class="delete-button-wrapper">
      <button mat-button color="warn" class="delete-button" (click)="deleteAutomatizedResult(automatizedResultIndex)">Delete result</button>
    </div>
  </mat-tab>
</mat-tab-group>




